<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="parent">
    <div class="header">
 <div class="gauche">
     <span>coucou</span>
 </div>
<div class="links">
    <ul>
        <li><a href="jojojo">jojo </a></li>
        <li><a href="jojojo">jojo </a></li>
        <li><a href="jojojo">jojo </a></li>
    </ul>
</div>
    </div>
    <div class="main">
        <div class="vid">
            <img src="toto.jpg" alt="">
        <div class="title"><a href="/toto/toto.mp4">Lien vers la vidéo</a></div>
        </div>
        <div class="vid">
            <img src="toto.jpg" alt="">
            <div class="title"><a href="/toto/moti.mp4">Lien vers la vidéo</a></div>
        </div>
      
    </div>
    <div class="footer">
        footer
    </div>
</div>
</html>